# Bibliotecas

In [ ]:
!pip install plotpy --upgrade

In [ ]:
!pip install yellowbrick

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# Conex√£o com base de dados Census e estudo inicial

In [14]:
base_census = pd.read_csv('/content/drive/MyDrive/Python Machine Learning/Arquivos/Bases de dados/census.csv')

In [15]:
# Caracteristicas da base
base_census.describe()

                age  final-weight  ...  capital-loos  hour-per-week
count  32561.000000  3.256100e+04  ...  32561.000000   32561.000000
mean      38.581647  1.897784e+05  ...     87.303830      40.437456
std       13.640433  1.055500e+05  ...    402.960219      12.347429
min       17.000000  1.228500e+04  ...      0.000000       1.000000
25%       28.000000  1.178270e+05  ...      0.000000      40.000000
50%       37.000000  1.783560e+05  ...      0.000000      40.000000
75%       48.000000  2.370510e+05  ...      0.000000      45.000000
max       90.000000  1.484705e+06  ...   4356.000000      99.000000

[8 rows x 6 columns]

In [17]:
# Medias
base_census.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

age                  38.581647
final-weight     189778.366512
education-num        10.080679
capital-gain       1077.648844
capital-loos         87.303830
hour-per-week        40.437456
dtype: float64